body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header{
    background-color: rgb(255, 228, 196);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

button{
background-color: dimgrey;
color: rgb(255, 255, 255);
padding: 10px 30px;
border: none;
border-radius: 20px;
}
button:hover{
    background-color: rgb(199, 71, 71);
}
main{
    text-align: center;
    background-color: rgb(203, 235, 128);
    padding-top: 70px;
    min-height: 70vh;
}
